.container {
  display: grid;

  max-width: 1000px;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}


header {
  background-color: #9A0794;
  grid-area: 1/1/2/4;
  font-family: Verdana;
}

.Main{
  padding: 15px;  
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  background-color:#D4F7EC;
  grid-area: 2/2/6/4;
  align-items: left;

}
.Sidebar{
  padding: 20px;
  text-align: left;
  background-color: #448D76;
  grid-area: 2/1/6/2;
  
}

.flex-container{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  color: white;
}
.para{
  text-indent: 50px;
}
.name{
  border-style: double;
  color: #FCBA12;
}
.image{
  width:85%; 
  height:85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60%;
  display: block;
  margin-top: 50px;  
}

.Work,.Education,.Biography{
  display: flex;
  justify-content: space-between;
  border-bottom: double;
  border-bottom-color: grey;
}
.contact{
  border-bottom: solid;
  border-bottom-color: black;
  border-width: 5px;
}
a:link{

  
  text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    
    background-color: transparent;
    text-decoration: none;
}
.image{
  float: left;
  width:7%; 
  height:7%;
}
